@charset "UTF-8";

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* Q7-1 */

.float-layout {
  font-size: 16px;
}

.float-section {
  box-sizing: border-box;
  float: left;
  margin-right: 50px;
  width: 225px;
}

.float-section:last-child {
  margin-right: 0;
}

/* Q7-2 */

.table-layout {
  font-size: 16px;
}

.table-inners {
  display: table;
}

.table-section {
  display: table-cell;
  vertical-align: middle;
  padding-right: 50px;
  width: 225px;
}

.table-section:last-child {
  padding-right: 0;
}

/* Q7-3 Inline-block */

.inline-block-box {
  font-size: 0;
}

.inline-block-section {
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  margin-right: 50px;
  width: 225px;
}

.inline-block-section:last-child {
  margin-right: 0;
}

/* Q7-4 flex */
/*ボトムに揃える*/

.flex-layout {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-section {
  box-sizing: border-box;
  width: 225px;
}

/* Q7-5 inline-blockとmargin */

.layout {
  font-size: 0;
}

.inline-plus-margin {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}

.fixed-box {
  width: 300px;
}

.flexible-box {
  box-sizing: border-box;
  margin-left: -300px;
  padding-left: 350px;
  width: 100%;
}

