@charset "UTF-8";

.balloon {
  border: 5px solid #222;
  border-radius: 30px;
  position: relative;
  width: 500px;
  padding: 20px;
  margin: 20px auto;
}

.balloon::before,
.balloon::after {
  content: '';
  border: 20px solid transparent;
  position: absolute;
  left: 30px;
}

.balloon::before {
  border-top-color: #222;
  bottom: -45px;
}

.balloon::after {
  border-top-color: #fff;
  bottom: -38px;
}

.caption {
  font-size: 16px;
  line-height: 16px;
}