@charset "UTF-8";

.layout {
  margin: 20px auto;
  width: 500px;
}

.balloon {
  border: 5px solid #222;
  border-radius: 30px;
  position: relative;
  width: 500px;
  padding: 20px;
}

.balloon::before,
.balloon::after {
  content: '';
  border-top: 26px solid #222;
  border-right: 26px solid transparent;
  border-left: 26px solid transparent;
  position: absolute;
  margin-left: 12px;
}

.balloon::before {
  bottom: -30px;
}

.balloon::after {
  border-top-color: #fff;
  bottom: -24px;
}

.caption {
  font-size: 16px;
  line-height: 16px;
}