@charset "UTF-8";

.q4 {
  margin: 0 auto;
  padding: 20px;
}

.q4_bar {
  display: table;
  width: 100%;
  margin-top: 20px;
}

.q4_bar:first-child {
  margin-top: 0;
}


.q4_orange {
  background-color: #fdc8b8;
  display:table-cell;
  padding: 20px 0;
  text-align: center;
  width: 100px;
}

.q4_pink {
  background-color: #e0abd9;
  display:table-cell;
  padding: 20px 0;
  text-align: center;
}

.q4_blue {
  background-color: #b6d8ed;
  display:table-cell;
  padding: 20px 0;
  text-align: center;
  width: 100px;
}

.q4_yellow {
  background-color: #e5d32e;
  display:table-cell;
  padding: 20px 0;
  text-align: center;
}

.q4_red {
  background-color: #ec8f9a;
  display:table-cell;
  padding: 20px 0;
  text-align: center;
}

.q4_green {
  background-color: #8fdcad;
  display:table-cell;
  padding: 20px 0;
  text-align: center;
  width: 500px;
}