@charset "UTF-8";

.layout {
  margin: 0 auto;
  padding: 20px;
}

.q4_bar {
  display: table;
  width: 100%;
  margin-top: 20px;
}

.q4_bar:first-child {
  margin-top: 0;
}

.q4_common {
  display:table-cell;
  padding: 20px 0;
  text-align: center;
}

.orange {
  background-color: #fdc8b8;
  width: 100px;
}

.pink {
  background-color: #e0abd9;
}

.blue {
  background-color: #b6d8ed;
  width: 100px;
}

.yellow {
  background-color: #e5d32e;
}

.red {
  background-color: #ec8f9a;
}

.green {
  background-color: #8fdcad;
  width: 500px;
}

