@charset "UTF-8";


/* Q1-1 Transition */

.img_wrap {
  cursor: pointer;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 500px;
}

.yellow-car {
  background-color: rgba(0,0,0,0);
  transition-duration: 0.5s;
  width: 100%;
}

.yellow-car:hover {
  background-color: rgba(0,0,0,8);
  transform: scale(1.5);
  transition-duration: 0.5s;
}

.captions {
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  margin: 0 auto;
  padding: 20px;
  transition: all 0.5s ease;
  word-break: break-all;
  width: 100%;
}

.img_wrap:hover .captions {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Q9-2 animation */

.spinner {
  height: 100px;
  margin: 10px auto;
  border: 6px #ecf1f2 solid;
  border-top: 6px #00bcd4 solid;
  border-radius: 50%;
  animation: rotate-anime 1.1s infinite linear;
  width: 100px;
}

@keyframes rotate-anime {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}


