@charset "UTF-8";

.q5 {
  background-color: #ECF1F2;
  height: 500px;
  margin: 0 auto;
  padding: 40px;
  position: relative;
  width: 500px;
}

.number-box {
  font-size: 22px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  position: absolute;
  text-align: center;
  width: 100px;
}

.one {
  background-color: #ffefd3;
  top: 40px;
  left: 240px;
}

.two {
  background-color: #7084de;
  top: 120px;
  left: 320px;
  z-index: 10;
}

.three {
  background-color: #d0ecea;
  top: 200px;
  left: 400px;
  z-index: 20;
}

.four {
  background-color: #8b7a5e;
  top: 280px;
  left: 320px;
  z-index: 30;
}

.five {
  background-color: #9fd6d2;
  top: 360px;
  left: 240px;
  z-index: 40;
}

.six {
  background-color: #fffee4;
  top: 280px;
  left: 160px;
  z-index: 50;
}

.seven {
  background-color: #deae70;
  top: 200px;
  left: 80px;
  z-index: 60;
}

.eight {
  background-color: #de70cf;
  top: 120px;
  left: 160px;
  z-index: 70;
}

.eight:after {
  background-color: #ffefd3;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  content:"";
}

.nine {
  background-color: #2b69a3;
  position: fixed;
  top: 10px;
  left: 10px;
}