@charset "UTF-8";

.table {
  font-size: 13px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #dedede;
}

.table th {
  padding: 10px;
  color: #FFFFFF;
  background-color: #2244aa;
  border: 1px solid #FFFFFF;
}

.table td {
  text-align:center;
  padding: 10px;
  border: 1px solid #dedede;
}

.table tr:nth-child(even){
  background-color: #ecf1f2;
}

.tfoot {
  border-top: 2px dashed #000;
}